# =========================================
# Python cache
__pycache__/
*.py[cod]
*$py.class

# =========================================
# Virtual environments
venv/
.venv/

# =========================================
# Databases
*.db

# =========================================
# Logs
*.log

# =========================================
# Flask
instance/
.webassets-cache

# =========================================
# Packaging / distribution
*.egg-info/
dist/
build/

# =========================================
# IDE / Editors
.vscode/
.idea/
.spyderproject
.spyproject
.ropeproject

# =========================================
# Jupyter Notebook
.ipynb_checkpoints

# =========================================
# mypy / type checkers
.mypy_cache/
.pytest_cache/
.dmypy.json
.pyre/
.pytype/
.ruff_cache/
